<footer class="footer">
    <div class="footer__wrapper wrapper">
        <div class="footer__main">
            <div class="footer__left">
                <a href="#">
                    <svg width="80" height="20"> <use xlink:href="#icon-homelogo"></use> </svg>
                  </a>
                <p>Trafalgar provides progressive, and affordable healthcare, accessible on mobile and online 
                    for everyone</p>
                <span>©Trafalgar PTY LTD 2020. All rights reserved</span>
            </div>
            <div class="footer__right">
                <div class="footer__ritem">
                    <b>Company</b>
                    <a href="#">About</a>
                    <a href="#">Testimonials</a>
                    <a href="#">Find a doctor</a>
                    <a href="#">Apps</a>
                </div>

                <div class="footer__ritem">
                    <b>Region</b>
                    <a href="#">Indonesia</a>
                    <a href="#">Singapore</a>
                    <a href="#">Hongkong</a>
                    <a href="#">Canada</a>
                </div>

                <div class="footer__ritem">
                    <b>Help </b>
                    <a href="#">Help center</a>
                    <a href="#">Contact support</a>
                    <a href="#">Instructions</a>
                    <a href="#">How it works</a>
                </div>
            </div>
        </div>
    </div>
</footer>