<header class="header">
    <div class="header__wrapper wrapper">
        <span class="header__logo">
          <a href="#">
            <svg width="80" height="20"> <use xlink:href="#icon-homelogo"></use> </svg>
          </a>
        </span>

        <nav class="nav__menu">
          <ul class="nav__list">
              <li class="nav__item"><a href="#">Home</a></li>
              <li class="nav__item"><a href="#">Find a doctor</a></li>
              <li class="nav__item"><a href="#">Apps</a></li>
              <li class="nav__item"><a href="#">Testimonials</a></li>
              <li class="nav__item"><a href="#">About us</a></li>
          </ul>
      </nav>
    </div>
  </header>